*.pyc
*.pyo
*.pyd
*.zip
*DIFF*
tmp/
temp/
*.aux
*.lof
*.log
*.lot
*.out
*.toc
book/*.pdf
gfx/*.png
book/gfx/boards/
book/gfx/castlings/
book/gfx/en_passants/
book/gfx/examples/
book/gfx/pieces/
book/gfx/rush/
book/gfx/isa/
book/gfx/test/
*IGNORE*
*OLD*
*NEW*
.vscode
*synctex*
build/
*.env
bin/
obj/
/docs
/ws/docs
*.bak
