*.pyc
*.pyo
*.pyd
*.zip
*DIFF*
tmp/
temp/
*.aux
*.lof
*.log
*.lot
*.out
*.toc
*.fdb_latexmk
*.fls
book/*.pdf
gfx/*.png
book/gfx/boards/
book/gfx/castlings/
book/gfx/en_passants/
book/gfx/examples/
book/gfx/pieces/
book/gfx/rush/
book/gfx/isa/
book/gfx/test/
*IGNORE*
*OLD*
*NEW*
*TODO*
.vscode
*synctex*
build/
*.env
bin/
obj/
/ws/docs
build/
*.bak
ws/linenoise/
history*.*
_.*
_.*.*
crochess.geany
/tags
/.tags
/TAGS
/.TAGS
