dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.pyc
*.zip
*.diff
crochess
tmp/
temp/
*.aux
*.lof
*.log
*.lot
*.out
*.toc
book/*.pdf
gfx/*.png
book/gfx/boards/
book/gfx/castlings/
book/gfx/en_passants/
book/gfx/examples/
book/gfx/pieces/

